@layer features {
  .fatal-boundary {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    block-size: 100svh;
    padding: var(--space-6);

    & > * {
      max-inline-size: var(--size-md);
    }
  }
}
