.app-placeholder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  padding-inline: 20px;

  p {
    max-inline-size: 60ch;
  }
}
